init.author.email = "support@nativecode.com"
init.author.name = "Mike Pham"
init.author.url = "https://www.mikepham.com"
registry = "https://${NPM_REGISTRY}/"
//${NPM_REGISTRY}/:_authToken=${NPM_TOKEN}
